<!-- <div ng-switch="mode_editable">
	<span ng-switch-default>{{current_task.title}}</span>
	<button ng-switch-default ng-click="edit()">Edit</button>
	<input ng-switch-when="true" ng-model="current_task.title" type="text">
	<button ng-switch-when="true" ng-click="cancel()">Cancel</button>
	<button ng-switch-when="true" ng-click="update()">Update</button>
	<button ng-click="delete()">Delete</button>
</div>
 -->


<div class="modal" id="editform-modal" ng-switch="mode_editable">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="well form-horizontal">
				<fieldset>
					<legend>Your task</legend>
					<div class="form-group">
						<div class="col-lg-10">
							<b ng-switch-default>{{current_task.title}}</b>
							<input ng-switch-when="true" ng-model="current_task.title" type="text" class="form-control" id="inputTitle" placeholder="Title">
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-10">
							<p ng-switch-default>{{current_task.content}}</p>
							<textarea ng-switch-when="true" ng-model="current_task.content" class="form-control" rows="3" id="textArea" placeholder="Content"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-6 col-xs-8">
							<button type="button" class="btn btn-default" ng-switch-when="true" ng-click="cancel()">Cancel</button>
							<button type="reset" class="btn btn-info" ng-switch-when="true">Reset</button>
							<button type="button" class="btn btn-primary" ng-click="edit()" ng-switch-default>
								Edit
							</button>
							<button  type="button" class="btn btn-success" ng-switch-when="true" ng-click="update()">
								Update
							</button>
							<button  type="button" class="btn btn-danger" ng-click="delete()" data-dismiss="modal">
								Delete
							</button>
						</div>
						<div class="col-sm-5 col-sm-offset-1 col-xs-4">
							<div class="alert alert-success flash-msg" role="alert">Done!</div>
						</div>
						<!-- <div class="col-sm-12 col-lg-12">
							<div ng-show="mode_delete_confirmation">
								sure to delete ?
								<button ng-click="deleteConfirm()">Yes</button>
							</div>
						</div> -->
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>

<div class="modal" id="deletion-confirm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">You want delete this task?</h4>
      </div>
      <!-- <div class="modal-body">
        <span>Was created at : <b>{{todo_list[delete_index].created_at | date:'medium'}}</b></span>
        <h4 class="modal-title">{{todo_list[delete_index].title}}</h4>
        <p>{{todo_list[delete_index].content}}</p>
      </div> -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#editform-modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteConfirm()">
          <span class="glyphicon glyphicon-trash"></span>
          Delete
        </button>
      </div>
    </div>
  </div>
</div>