<a  href="#" class="list-group-item clearfix" ng-click="selectTask(task)">
	<div class="pull-right">
		<button class="btn btn-sm btn-info" ng-click="editTask($event,task)">
			<span class="glyphicon glyphicon-edit"></span>
		</button>
		<button class="btn btn-sm btn-warning" data-toggle="modal" data-dismiss="modal" ng-click="removeTask($event,task)" ng-click="">
			<span class="glyphicon glyphicon-trash"></span>
		</button>
	</div>
    <div class="btn-group checkbox-item" data-toggle="buttons">
        <input type="checkbox" ng-model="task.is_done" ng-click="checkTask($event,task)">
    </div>
    <div class="task-title" ng-class="{done:task.is_done}">{{task.title}}</div>
</a>